.container {
    
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.taskList {
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid black;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
}

.column h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.taskForm {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
